.col-8 h5{
    margin-top: 5%;
    margin-bottom: 2%;
    padding-bottom: 5px;
    border-bottom: 2px solid #D4D6D7;
}
.content-item{
    background: -webkit-gradient(linear, left top, right top, from(#01335e), color-stop(50%, #265f91), to(#01335e));
    background: linear-gradient(to right, #01335e, #265f91 50%, #01335e);
    background-image: linear-gradient(270deg, #01335e, #265f91 50%, #01335e);
    background-image: -webkit-gradient(linear, right top, left top, from(#01335e), color-stop(50%, #265f91), to(#01335e));
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
}
.icon-fast{
    margin: auto;
    margin-left: 20%;
    
}
.content-item span{
    color: white;
    /* font-size: 22px; */
   
   
}
.truck{
    margin-left: 30%;
}
.none{
    display: none;
}
.title-content-item{
    font-size: 23px;
}
.fa-truck{
    color: white;
}
.save{
    background-color: #58D058;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
}
.d-inline-block{
    margin-left: 10px;
}
.best{
    background-color: #E67A00;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    
}
.step2 h5{
    margin-top: 17px;
    padding-bottom: 5px;
    border-bottom: 2px solid #D4D6D7;
}
.logo-paypal{
    width: 100%;
    border-bottom: 3px solid #BB8400;
    border-radius: 10px;
}
.btn-paypal{
    border: none;
    border-radius: 10px;
}
.formBlue{
    background-color: #0070ba;
    background: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background-image: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -moz-linear-gradient(left, #0070ba, #5b8db1, #0070ba);
    -webkit-box-shadow: 0 6px 9px -5px #000;
    box-shadow: 0 6px 9px -5px #000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dedede;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
    height: 100%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.pi-1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1em;
    color: #01335e;
}
.pi-2{
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 500;
    white-space: nowrap;
}
.features{
    display: flex;
    background: #265f91 50%;
    color: #fff;
    /* font-size: 10px; */
    font-size: 9px;
    border-radius: 5px;
    font-weight: 500;
    padding-left: 5%;
}
.package-bullet-wrapper{
    font-weight: 300;
}
.higth{
    color: red;
}
.text-danger {
    color: #dc3545!important;
}
.inptu-checkbox{
    width: 50px;
    height: 30px;
    margin-top: 50px;
}
.container-content-cart{
    /* height: 100%; */
    border: 3px solid #CECFD0;
    border-radius: 10px;
    margin-top: 2%;
}
.py-1{
    width: 100%;

}
.product-img{
    width: 70%;
   
   margin-top: 25px;
}
.package-image{
    width: 40%;
}
.order-summary {
    color: #333;
    background: #a9a9a9;
    border: 1px solid #dedede;
    font-size: 14px;
    width: 100%;
    margin-top: 3%;
}
.orderd-product-img{
    width: 100%;
}
.order-summary-title {
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid;
    border-color: rgba(200, 200, 200, .8);
}
.order-summary .order-summary-pricing {
    color: #333;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #dedede;
    border-radius: 3px;
    -webkit-box-shadow: #000 0 6px 9px -9px;
    box-shadow: #000 0 6px 9px -9px;
    font-size: 12px;
    padding: 10px;
}
.name{
    color: #58D058;
    border-right: 1px solid black;
}
.fa-circle-user{
font-size: 30px;
color: #C5C5C5;
}
.border-buttom{
    border-bottom: 1px dotted black;
    margin-top: 5px;
    margin-bottom: 5px;

}
.heater{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
.comment-block{
    border: 1px solid #E1E1E1;
    padding: 10px;
    width: 100%;
    background-color: white;
}
.fa-check{
    color: blue;
}
.verified{
    color: blue;
}
.star{
    float: right;
    color: #FFA500;
}
